* {
    color: white;
    background-color: #0e0e0e;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

.cabecera {
    background-image: url('./bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    width: 100vw;
}

.nav {
    position:absolute;
    background-color: transparent;
    top: 1%;
    left: 5%;
    margin: 27px;
}

.homeicon {
    position: absolute;
    height: 50px;
    width: 50px;
    filter: invert(100%);
    background-color: transparent;
    margin: 25px;
}


.navtxt {
    font-size: 25px;
    text-decoration: none;
    padding-right: 25px;
}

.navtxt:hover {
    color: rgb(171, 68, 255);
}

.titulo {
    font-size: 60px;
    background-color: transparent;
    color: white;
    position: absolute;
    top: 50%;
    right: 0;
    padding-right: 5%;
}

h2 {
    color:green;
    font-size: 2em;
}
